.inter-logo { 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.body-banner-title {

    font-weight: bold;
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:<weight>;
    font-style: normal;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
}

.nav-title {
    font-weight: bolder;
    font-size: 34px;
    color: #3C5AFF;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    padding: 12px 36px;
    cursor: pointer;
    /* font-family: "Raleway", sans-serif; */
}


.header {
    background-image: url('Images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 309px 267.5px 152px;
    gap: 37;
}

.banner-content {
    max-width: 905px;   
}

.banner-title {
    font-weight: bold;
    font-size: 65px;
}

.section-title {        
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.section-description {
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    opacity: 0.5;
}

.section-pic {
    /* display: flex; */
    justify-content: center;
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* banner content */
.action-content {
    max-width: 517px;
}

.second-section{
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 100px 141px;
}
/* main{
    padding-top: 116px;
    align-items: center;
    text-align: center
} */
.datas h3 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}

.datas p {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
    margin: 0;
}

.productive-datas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productive-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
}

.productive-section{
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-around;
    background-color: #dddee3;
    padding: 30px 10px;
    text-align: center;
    border-radius: 24px;
    margin: 0 141px 100px 152px;
    /* max-width: 1140px; */
}

.productive-container {
    background-color: #dddee3;
    padding: 10px 5px;
    max-width: 856px;
    margin: 0 auto;
    /* opacity: 0.1; */
}

/* FORM SECTION */
.datas h3 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}

.datas p {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
    margin: 0;
}

.productive-datas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productive-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
}

.productive-section {
    justify-content: space-around;
    background-color: #dddee3;
    padding: 30px 10px;
    text-align: center;
    border-radius: 24px;
    margin: 0 141px 100px 152px;
}

.productive-container {
    background-color: #dddee3;
    padding: 10px 5px;
    max-width: 856px;
    margin: 0 auto;
}


.left-side h2 {
    font-size: 97px;
    font-weight: bold;
    max-width: 528px;
    margin: 0 160px;
}


.right-side {
    background-color: #dddddd;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    max-width: 497px;
    width: 100%;

}

.right-side label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin bottom: 5px;
}


.right-side input,
.right-side textarea {
    width: 100%;
    padding: 32px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.right-side textarea {
    resize: vertical;
    padding: 32px;
    height: 100px;
}
.form-section{
    background-color: #dddddd ;
    padding: 80px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.right-button{
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
} 


button:hover{
    background-color: red; /* hover background color */
    color: black; /* hover text color */
    transform: scale(1.02); /* slightly grow */
    transition: all 0.3s ease;
}